h1 {
  font-family: fantasy;
  font-size: 3em;
  border-bottom: 2px dotted pink;
  border-right: 2px dotted cyan;
  width: 360px;
}

img {
  width: 450px;
  height: 300px;
  margin: 10px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
